footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 300px;
  background-color: black;
  margin-top: 50px;
}

footer h1 {
  font-size: 40px;
}

footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

footer .links .link {
  display: flex;
  justify-content: center;
  align-items: cente;
  gap: 40px;
}
footer .social img {
  width: 40px;
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1200px) {
  footer {
    flex-direction: column;
    padding: 50px 30px;
    height: auto;
    gap: 50px;
    justify-content: center;
  }
  footer .links {
    gap: 20px;
  }
}
